### Basics 
- operators
    - arithmatic
    - assignment
    - comparison
    - logical
    - identity
    - membership in
    - bitwise
- variable
- datatypes
- keywords
- io

In [1]:
2+2

4

In [2]:
234567987873665375676868676756567+656823798326564324354635728

234568644697463702241193031392295

In [3]:
2193*20

43860

In [4]:
10/3

3.3333333333333335

In [5]:
12+4*2

20

### Assigment operators
 =,+=,-=,/=,//=,%=

In [6]:
x = 101
y = 2.3910
z = False
a = None

###

In [24]:
x = 5
x += 10 
name = "soni yadav"
print(x)
print(name)

15
soni yadav

In [8]:
a = 12
b = 13
c = a+b
print(c)

25

### Conditional operator
<,>=,>,>=,==,!=

In [9]:
a>10

True

In [10]:
a<a-5

False

In [11]:
a = 10
b = 3

In [12]:
a>b

True

In [13]:
a<b

False

In [14]:
False > True

False

In [15]:
a < b > 10

False

In [16]:
False > 10

False

### Logical operator
- and
- or 
- not

In [17]:
a = b
b = 20
a<b and b<30
a>b or b<20

False

In [18]:
print (a<b and b<30)
print( a>b or b>20)

True
False

In [19]:
fruits = ['apple', 'banana','cherry']
print('apple' in fruits)
print( 'orange' in fruits)
print('orange' not in fruits)
print( 'banana' not in fruits)

True
False
True
False

In [20]:
x=20
y=x
print(x,y)
print( x==y)    # value equlity
print( x is y )  # reference equlity

name = "soni"
name2 = "soni"
print(name==name)
print(name is name2)

20 20
True
True
True
True

In [21]:
x=[1,2,3]
y=x
z=x.copy()
print(x is y)
print( x is z)
print( x == z)
print(x == y)

True
False
True
True

### Databases
- integer `int`
- float `float`
- boolean `bool`
- None `Nonetype`
- string ` str`
- list `list`
- tuple `tuple`
- set `set`
- dictionary ` dict`

In [22]:
coord = (10,20,30)
name = ["Alex","Alan","Alice","Arti"]
info = { 'name': 'soni','age': 20,'city':'mau',}

In [23]:
del x # delete x from memory