In [1]:
def si(p,r,t):
    return p*r*t/100

In [2]:
si(15000,10,9)

13500.0

In [3]:
def info(l,w):
    area = l*w
    perimeter = 2*(l+w)
    return area,perimeter

In [4]:
info(60,20)

(1200, 160)

In [5]:

a,p=info(30,20)# tuple unpacking
print(f"Area:{a},Perimeter:{p}")

Area:600,Perimeter:100

In [6]:
def acroynm(name):
    result=""
    for word in name.split():
        # print(word[0])
        result+=word[0]  # first letter
    return result

In [7]:
acroynm("National Aeronauticsand Space Administration")

'NASA'

In [8]:

names=["Sam Altman","Guido Von Rossum","Tim Bell"]
acr=[acroynm(name)for name in names]
print(names)
print(acr)

['Sam Altman', 'Guido Von Rossum', 'Tim Bell']
['SA', 'GVR', 'TB']

- default parameters
- variables arguments
- lambda expression

In [9]:
def power(num,exp=1):
    return num**exp

print(power(2))
print(power(2,3))
print(power(8,2))

2
8
64

In [10]:
def summer(a=0,b=0,c=0,d=0):
    return a+b+c+d

print(summer())
print(summer(100))
print(summer(12,3,5,8))
print(summer(9,9))
print(summer(a=9,c=11))
print(summer(c=12,d=11))

0
100
28
18
20
23

In [11]:
def stats(*num,action='sum'):
    if action== "sum":
        return sum(num)
    if action== "mean":
        return sum(num)/len(num)
    if action== "count":
        return len(num)
    if action== "min":
        return min(num)

print(stats(1,5,12,8,4))    
print(stats(1,5,12,8,4,action="mean"))    
print(stats(1,5,12,8,4,action="min"))    
print(stats(1,5,12,8,4,action="count"))

30
6.0
1
5

In [12]:

# any function that is not returning anything is returning none
def greeting():
    print("hello")
    print("world")

In [13]:

print(greeting())

hello
world
None

In [14]:
# higher order function
def apply(func,data):
    return[func(x) for x in data]

def square(x):
    return x**2

def cube(x):
    return x**3


# implement a function that takes a list of numbers and a function
ans=apply(square,[1,2,3,4,5])
print(ans)
ans=apply(cube,[1,2,3,4,5])
print(ans)

[1, 4, 9, 16, 25]
[1, 8, 27, 64, 125]

In [15]:

f= lambda x: x**2 + 10
print(f(2))
print(f(5))
print(f(9))

14
35
91

In [16]:
g= lambda x,y: x*2 + y*2-x+y
print(g(2,3))
print(g(5,9))
print(g(3,5))

11
32
18


map and filter using lambda

In [17]:
# style 1- loop
x=[1,2,3,4,5]
x3=[]
for i in x:
    x3.append(i**3)
print(x3)

# style 2- comphrenshion
x3=[i**3 for i in x]
print(x3)


# style 3- (map with lambda)
x3=list(map(lambda i: i**3,x))
print(x3)

[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125]
[1, 8, 27, 64, 125]

In [18]:

x=[1,2,5,8,"a","er","d",0,9]
nums=list(filter(lambda i:isinstance(i,int),x))
print(nums)

[1, 2, 5, 8, 0, 9]