## list
- create
- indexing and slicing

method

In [1]:
a= [1,2,3,4]
print(a,type(a))
names=["Alice","Bob","Charlie"]
print(names, type(names))
data =["apple",50,"mango",100,"orange",70]
nested_list=[[1,2,3],[4,5,6],[7,8]]
print(data)
print(nested_list)
duplicated_list=[1]*10
print(duplicated_list)
print(list("vertex"))
print("welcome to listing".split())

[1, 2, 3, 4] <class 'list'>
['Alice', 'Bob', 'Charlie'] <class 'list'>
['apple', 50, 'mango', 100, 'orange', 70]
[[1, 2, 3], [4, 5, 6], [7, 8]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
['v', 'e', 'r', 't', 'e', 'x']
['welcome', 'to', 'listing']

In [2]:
n=[11,12,13,14,15,16,17,18,19,20]
print("first five =",n[:6])
print("last five =",n[:-5])
print("last element =",n[-1])
print("first five =",n[0])
print("except first two and last two =",n[2:-2])
print("reverse list=",n[2:-2])
print("reverse first five element",n[4::-1])
print("all even indexes",n[::2])
print("all odd indexes",n[1::2])

first five = [11, 12, 13, 14, 15, 16]
last five = [11, 12, 13, 14, 15]
last element = 20
first five = 11
except first two and last two = [13, 14, 15, 16, 17, 18]
reverse list= [13, 14, 15, 16, 17, 18]
reverse first five element [15, 14, 13, 12, 11]
all even indexes [11, 13, 15, 17, 19]
all odd indexes [12, 14, 16, 18, 20]

In [3]:

# list is mutable
n[5]=100 # update
print(n)
n[0]=200
print(n)

[11, 12, 13, 14, 15, 100, 17, 18, 19, 20]
[200, 12, 13, 14, 15, 100, 17, 18, 19, 20]

In [4]:

movies=[]
print(type(movies))
print(len(movies))
movies.append("Star wars")
movies.append("Five feet apart")
movies.append("The core")
movies.append("Gifted")
movies.append("Jumanji")
print(movies)
print(len(movies))

<class 'list'>
0
['Star wars', 'Five feet apart', 'The core', 'Gifted', 'Jumanji']
5

In [5]:
ff=["fast and furious","2 fast 2 furious","fast and furious:Tokyo drift","fast 5"]
ff.append("fast and furious 6")
print(ff)
ff.insert(3,"fast and furious 4")
print(ff)

['fast and furious', '2 fast 2 furious', 'fast and furious:Tokyo drift', 'fast 5', 'fast and furious 6']
['fast and furious', '2 fast 2 furious', 'fast and furious:Tokyo drift', 'fast and furious 4', 'fast 5', 'fast and furious 6']

In [6]:

n=[1,2,3,4,6,7,8,9]
n.insert(3,4)# on 3rd index, insert value=4
print(n)
n.insert(4,5)# on 4th index, insert value=5
print(n)
n.insert(100,5)# invalid index so it will insert at the end
print(n)

[1, 2, 3, 4, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 4, 6, 7, 8, 9, 5]

In [7]:
# adding a list in another list
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
l1.extend(l2)
print(l1)
l2.extend(l3)
print(l2)
l2.extend([5,6,7,8,9])
print(l2)
l1.extend(l3)
print(l1)

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 7, 8, 9]
[4, 5, 6, 7, 8, 9, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
n.remove(1) #search where is 3 and remove it
print(n)
n.remove(4) # remove first 5
print(n)

[2, 3, 4, 5, 4, 6, 7, 8, 9, 5]
[2, 3, 5, 4, 6, 7, 8, 9, 5]

In [9]:
n.pop(3) #index wise removal

4

In [10]:

n.pop() # it removes last value

5

In [11]:
n.clear()# to remove all elements of the list
print(n)

[]

In [12]:

x =[1,2,3,1,1,1,2,2,2,3,1,2,1,3,2]
print(x.count(1))
print(x.count(2))
print(x.count(3))
print(x.count(4))

6
6
3
0

In [13]:
y=[1,2,3,4,5]
y.reverse()
print(y)

[5, 4, 3, 2, 1]

In [14]:
names=["Vijay","Salman","Rahul","Akbar"]
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['Akbar', 'Rahul', 'Salman', 'Vijay']
['Vijay', 'Salman', 'Rahul', 'Akbar']

In [15]:
fruits = ["apple","banana","cherry","grapes"]
print(fruits)
fru_idx = fruits.index("banana")
print(fru_idx)

['apple', 'banana', 'cherry', 'grapes']
1

In [16]:

x=[1,2,3]
y=x # y is a reference to x
z=x.copy() # z is a shallow copy of x
x.append(4)
y.append(5)
z.append(6)
print(x)
print(y)
print(z)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 6]


### Comphresion

In [17]:
x=[1,2,3,4,5]
x2=[]
for i in x:
    s = i**2
    x2.append(s)
print(x2)

[1, 4, 9, 16, 25]

In [18]:

x=[4,5,6,9,1]
x2=[i**2 for i in x]
print(x)
print(x2)

[4, 5, 6, 9, 1]
[16, 25, 36, 81, 1]

In [19]:

a=[1,2,3,4,5,6,7,8,9,10]
b= [i-10 for i in a]
print(b)

[-9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [20]:
x=[15,3,12,11,6,7]
x2=[i**2 for i in x if i % 2==0]
x3=[i-5 for i in x if i%2!=0]
print(x)
print(x2)
print(x3)

[15, 3, 12, 11, 6, 7]
[144, 36]
[10, -2, 6, 2]

In [21]:
a=[65,68,70,80]
b=[chr(i) for i in a]
print(a)
print(b)

[65, 68, 70, 80]
['A', 'D', 'F', 'P']

In [22]:
crap_list =["A",1,2,3,"B","C","D",4,5,5,1,1,6]
clean_list=[i for i in crap_list if isinstance(i,int)]
print(crap_list)
print(clean_list)
list=[i for i in crap_list if isinstance(i,str)]
print(list)

['A', 1, 2, 3, 'B', 'C', 'D', 4, 5, 5, 1, 1, 6]
[1, 2, 3, 4, 5, 5, 1, 1, 6]
['A', 'B', 'C', 'D']

In [27]:
# make all the input to a int list
nums=[int(n) for n in input().split()]
print(nums)

[23, 45, 78, 65, 90]

### tuple

In [28]:
a=(1,2,3,4,5)
print(a, type(a))
b=1,2,3,4,5
print(b, type(b))
c=(1,)
print(c)
d=(1,)*5 # tuple duplication
print(d)
e= tuple([1,2,3,4,5,])
print(e,type(e))

(1, 2, 3, 4, 5) <class 'tuple'>
(1, 2, 3, 4, 5) <class 'tuple'>
(1,)
(1, 1, 1, 1, 1)
(1, 2, 3, 4, 5) <class 'tuple'>

In [29]:
print(a[0])
print(a[1])
print(a[-1])
print(a[:3])
print(a[3:])

1
2
5
(1, 2, 3)
(4, 5)

In [30]:

x=(1,1,1,1,3,4,5,6,7)
print(x.count(1))
print(x.count(4))

4
1


### tuple unpacking

In [31]:
a=(1,2,3)
print(a)

(1, 2, 3)

In [32]:
x=("apple",100)
print(x)

('apple', 100)

In [33]:
item, price=x
print(item,price)

apple 100

In [34]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

In [35]:
one_tuple=(1,2,3,4,5,6,7,8,9,10)
a,b,c=one_tuple

ValueError: too many values to unpack (expected 3)

In [36]:
a,b,c=x #unfixable

ValueError: not enough values to unpack (expected 3, got 2)

In [37]:

# * - unpacking operator
one_tuple=(1,2,3,4,5,6,7,8,9,10)
a,b,*c=one_tuple
print(a,b,c)

1 2 [3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
one_tuple=(1,2,3,4,5,6,7,8,9,10)
a,*b=one_tuple
print(a,b)
*a,b=one_tuple
print(a,b)

1 [2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9] 10

In [39]:

one,*middle,last=one_tuple
print(one)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [40]:
# trick-using * for displaying data in print
print(one_tuple)
print(*one_tuple)
print(*one_tuple,sep="\n")

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1 2 3 4 5 6 7 8 9 10
1
2
3
4
5
6
7
8
9
10