## loops in python

1. for loop-> Step based loop
2. while loop-> Condition based loop
- loop control
1. break
2. continue
- enumerate
- zip()
- for else, while else

In [1]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [4]:

for i in range (1,12,2):
    print(i,end=",")

1,3,5,7,9,11,

In [5]:

# reverse 
for i in range(-5,5):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4

In [6]:
word = "digipodium"
for char in word:
    print("-",char)

- d
- i
- g
- i
- p
- o
- d
- i
- u
- m

In [7]:
data = "p57ython$$#"
for i in data:
    if i.isalpha():
        print(i)

p
y
t
h
o
n

In [8]:
num = [-5,-4,-3,-2,-1,0,1,2,3,4,5]
for num in num:
    print(num*5)

-25
-20
-15
-10
-5
0
5
10
15
20
25

In [9]:
num = [-5,-4,-3,-2,-1,0,1,2,3,4,5]
for i in num:
    if i % 2 == 0:
        print(i)

-4
-2
0
2
4

In [10]:
fruits=["apple","banana","cherry","dragonfruit","eggplant","fig","guava","honeydew","imli","kiwi"]
for fruit in fruits:
    print(fruit, len(fruit))

apple 5
banana 6
cherry 6
dragonfruit 11
eggplant 8
fig 3
guava 5
honeydew 8
imli 4
kiwi 4

In [11]:
for a in fruits:
    if a == "fig":
        break
    print(a)
print("loop completed")

apple
banana
cherry
dragonfruit
eggplant
loop completed

In [12]:

nums = [10,30,65,29]
total=0
for i in nums:
    total += i
print(total)

134

In [13]:
nums=[120,-20,10,40,101,-50,15]
total= 0
for i in nums:
    if i < 0:
        continue #skip
    total += i
print(total)

286

In [14]:

total = 0
for i in nums:
    if i > 0:
        total += i
print(total)

286

In [15]:
num=[-100,200,-300,400,-500]
for i in num:
    if i > 0:
        break
    print(i)

-100

In [16]:

names=["isha","harsh","divyansh","muskan","anshika"]
for i in names:
    print(i)

isha
harsh
divyansh
muskan
anshika

In [17]:

for i, v in enumerate(names):
    if i == 3:
        break
    print(i,v)

0 isha
1 harsh
2 divyansh

In [18]:
for i,v in enumerate(names):
    if i % 2 == 0:
        print(i,v)

0 isha
2 divyansh
4 anshika

In [19]:
for i,v in enumerate(names):
    if i % 2 != 0:
        print(i,v)

1 harsh
3 muskan

In [20]:
x = [1,2,3,4,5]
y = [6,7,8,9,10]
for  i,j in zip(x,y):
    print(i,j)

1 6
2 7
3 8
4 9
5 10

In [21]:

x = [1,2,3,4,5]
y = [6,7,8,9,10]

for  i,j in zip(x,y):
    print(f"{i}+{j}={i+j}")

1+6=7
2+7=9
3+8=11
4+9=13
5+10=15

In [22]:
name=["apple","banana","cherry"]
price=[100,200,300]
qty=[3,2,5]
for n,p,q in zip(name, price,qty):
    print(f"{n:10}|{p:^5}|{p*q:>5}")

apple     | 100 |  300
banana    | 200 |  400
cherry    | 300 | 1500

In [23]:
name=["apple","banana","cherry"]
price=[100,200,300]
qty=[3,2,5]
total=0
for n,p,q in zip(name, price,qty):
    print(f"{n:10}|{p:^5}|{p*q:>5}")
    total += p*q
print("_"*23)
print(f"total{total:17}")

apple     | 100 |  300
banana    | 200 |  400
cherry    | 300 | 1500
_______________________
total             2200

In [24]:
for i in range(5):
    print(i)
    if i == 13:
        break
else:
        print("loop completed succesfully")

0
1
2
3
4
loop completed succesfully

In [30]:

n=int(input("enter the stop value"))
for i in range(1,11):
    if i == n:
        print("loop terminated")
        break
    print(i)
else:
    print("loop completed successfully")

1
2
3
4
5
6
7
8
9
10
loop completed successfully

In [31]:
# prime numbers
n =  int(input("enter a number"))
for i in range(2,n):
    print(f"=>{n} % {i} == {n%i==0}")
    if n%i==0:
        print("Not prime")
        break
else:
    print("prime")

=>11 % 2 == False
=>11 % 3 == False
=>11 % 4 == False
=>11 % 5 == False
=>11 % 6 == False
=>11 % 7 == False
=>11 % 8 == False
=>11 % 9 == False
=>11 % 10 == False
prime

In [32]:
i = 200
while i>0:
    print(i)
    i-=25

200
175
150
125
100
75
50
25