## set
- create
- method

In [1]:
x= set()#empty
print(x)
y={1,2,3,4,5,6,6}
print(y)
fruits={"apple","banana","cherry"}
print(fruits)
data={"apple",205,3.14,"banana"}
print(data)
a= set([1,2,3,4,5,6,7,8,9,10])
b= set("harry potter")
print(a)
print(b)

set()
{1, 2, 3, 4, 5, 6}
{'banana', 'cherry', 'apple'}
{'banana', 3.14, 205, 'apple'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{'t', 'h', 'o', ' ', 'p', 'a', 'e', 'y', 'r'}

In [2]:
a=set()
a.add("The final empire")
a.add("The hero of ages")
a.add("The well of ascension")
print(a)

{'The hero of ages', 'The well of ascension', 'The final empire'}

In [3]:
a.update(["Appleseed","Applepie","Applecider"])
print(a)

{'Applecider', 'Appleseed', 'The well of ascension', 'The final empire', 'The hero of ages', 'Applepie'}

In [4]:

a.add("Appleseed")
print(a)

{'Applecider', 'Appleseed', 'The well of ascension', 'The final empire', 'The hero of ages', 'Applepie'}

In [5]:
a.discard("Appleseed")
a.discard("Applepie")
a.discard("Appleseed")
print(a)

{'Applecider', 'The well of ascension', 'The final empire', 'The hero of ages'}

In [6]:
a={1,2,3}
b={3,4,5}
c={6,7,8}
ab=a.union(b)
print(ab)
print(a.union(b,c))
print(a | b |c)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:

print(a.intersection(b))
print(a & b)
print(a & c)
print(a & b &c)

{3}
{3}
set()
set()

In [8]:
print(a.difference(b))
print(b.difference(a))
print(a-b)# is difference

{1, 2}
{4, 5}
{1, 2}

In [9]:
print(a.symmetric_difference(b))
print(a^b)# ^ is symmetric difference

{1, 2, 4, 5}
{1, 2, 4, 5}

## Dictionary
- creating
- accessing
- add or update
- remove
- traversal

In [10]:
data=["alex",True,False,29,"New york","Photographer"]


datadict={
    "name":"alex",
    "isMarried":True,
    "hasChildren": False,
    "age": 29,
    "city": "New york",
    "profession": "Photographer"
}

In [11]:

(datadict)

{'name': 'alex',
 'isMarried': True,
 'hasChildren': False,
 'age': 29,
 'city': 'New york',
 'profession': 'Photographer'}

In [12]:

movies={}#empty dictionary
expenditure= dict(
    food =500,
    rent =1700,
    insurance=200,
)
print(datadict)
print(expenditure)

{'name': 'alex', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'New york', 'profession': 'Photographer'}
{'food': 500, 'rent': 1700, 'insurance': 200}

In [13]:
print(datadict["name"])
print(datadict["isMarried"])
print(datadict["city"])
# print(datadict["state"]) #keyerror

alex
True
New york

In [14]:
print(datadict.get("city"))
print(datadict.get("City")) #City is not in the dictionary
print(datadict.get("age"))
print(datadict.get("Age",65)) # Age is not in the dictionary

New york
None
29
65

In [15]:

movies["Deadpool & Wolverine"] = "Shawn Levy"
movies["Bahubali"] = "SS Rajamouli"
movies["Inception"] = "Christoper Nolan"
print(movies)

{'Deadpool & Wolverine': 'Shawn Levy', 'Bahubali': 'SS Rajamouli', 'Inception': 'Christoper Nolan'}

In [16]:
movies.update(
    {
    "The Dark knight": "Christopher Nolan",
    "The Prestige":"Christopher Nolan",
    "The matrix": "Wachowski Brothers",    }
)
print(movies)

{'Deadpool & Wolverine': 'Shawn Levy', 'Bahubali': 'SS Rajamouli', 'Inception': 'Christoper Nolan', 'The Dark knight': 'Christopher Nolan', 'The Prestige': 'Christopher Nolan', 'The matrix': 'Wachowski Brothers'}

In [17]:
datadict["name"]= "Alexander"
print(datadict)

{'name': 'Alexander', 'isMarried': True, 'hasChildren': False, 'age': 29, 'city': 'New york', 'profession': 'Photographer'}

In [18]:
movies.pop("Bahubali") # remove

'SS Rajamouli'

In [19]:
movies

{'Deadpool & Wolverine': 'Shawn Levy',
 'Inception': 'Christoper Nolan',
 'The Dark knight': 'Christopher Nolan',
 'The Prestige': 'Christopher Nolan',
 'The matrix': 'Wachowski Brothers'}


for loop in dict will iterate over keys

In [20]:
for item in datadict:
    print(item)

name
isMarried
hasChildren
age
city
profession

In [21]:

for item in datadict:
    print(datadict[item])

Alexander
True
False
29
New york
Photographer

In [22]:
for k,v in datadict.items():
    print(k,v)

name Alexander
isMarried True
hasChildren False
age 29
city New york
profession Photographer

In [23]:
movies.keys()

dict_keys(['Deadpool & Wolverine', 'Inception', 'The Dark knight', 'The Prestige', 'The matrix'])

In [24]:
movies.keys()

dict_keys(['Deadpool & Wolverine', 'Inception', 'The Dark knight', 'The Prestige', 'The matrix'])

In [25]:

# nested dictionary
report ={
    "01": {
        "name": "Alex",
        "Subjects":{
            "maths":80,
            "science":90,
            "english":89
        }
    },
    "02": {
        "name": "John",
        "Subjects":{
            "maths":90,
            "science":75,
            "english":95
        }
    },
}

In [26]:

report["02"]["Subjects"]["english"]

95

In [27]:
from pprint import pp
pp(report)

{'01': {'name': 'Alex',
        'Subjects': {'maths': 80, 'science': 90, 'english': 89}},
 '02': {'name': 'John',
        'Subjects': {'maths': 90, 'science': 75, 'english': 95}}}

In [28]:
rainfall_data={
    "year":[2019,2020,2021,2022,2023,2024],
    "rainfall":[300,400,200,100,400,200]
}
print(rainfall_data)

{'year': [2019, 2020, 2021, 2022, 2023, 2024], 'rainfall': [300, 400, 200, 100, 400, 200]}